.App {
  background-color: #404040;
}

.h5 {
  height: 1rem;
}

.landingHeading {
  text-align: center;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
}


.colorsLink {

}

.buzzwordsLink {

}

.starwarsLink {

}

.fortuneLink {

}

.emojisLink {

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
